<a href="https://colab.research.google.com/github/gurralamanoj/GCD_Project/blob/main/GCD_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center"><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true"
width="260" height="110" /></p>

---

# **Table of Contents**


1. [**Project Description**](#Section1)<br>
   1.1 [**Client's Requirement**](#Section11)<br>
   1.2 [**Problem Statement**](#Section12)<br>
   1.3 [**Role as a Data Scientist**](#Section13)<br>
   1.4 [**Task of Data Scientist**](#Section14)<br>


2. [**Installing & Importing Libraries**](#Section2)<br>


3. [**Data Acquisition & Description**](#Section3)<br>
   3.1 [**Importing "department_data**](#Section31)<br>
   3.2 [**Importing "employee_details_data**](#Section32)<br>
   3.3 [**Importing "employee_data**](#Section33)<br>
   3.4 [**Data Description**](#Section34)<br>

---
<a name = Section1></a>
## **1. Project Description**

<a id = Section11></a>
### 1.1 Client's Requirement

### The client for this project is the HR Department at a software company.

- They want to try a new initiative to retain employees.
- The idea is to use data to predict whether an employee is likely to leave.
- Once these employees are identified, HR can be more proactive in reaching out to them before it's too late.
- They only want to deal with the data that is related to permanent employees.

#### Current Practice
Once an employee leaves, he or she is taken an interview with the name “exit interview” and shares reasons for leaving. The HR Department then tries and learns insights from the interview and makes changes accordingly.

#### This suffers from the following problems:
- This approach is that it's too haphazard. The quality of insight gained from an interview depends heavily on the skill of the interviewer.
- The second problem is these insights can't be aggregated and interlaced across all employees who have left.
- The third is that it is too late by the time the proposed policy changes take effect.

The HR department has hired us as data science consultants. They want to supplement their exit interviews with a more proactive approach.

---

<a id = Section12></a>
### 1.2 Problem Statement:

**Predict whether an employee will stay or leave.**


<a id = Section13></a>
### 1.3 Role as a Data Scientist
- The given datasets consist of past employees and their status (still employed or already left).
- Our task is to build a classification model using the datasets.
- Because there was no machine learning model for this problem in the company, we don’t have quantifiable win condition. We need to build the best possible model.

<a id = Section14></a>
### 1.4 Task of Data Scientist
  - Machine learning task: **Classification**
  - Target variable: **Status (Employed/Left)**
  - Win condition: **N/A (best possible model)**

---
<a id = Section2></a>
## 2. Installing & Importing Libraries

In [9]:
 !pip install mysql-connector
 !pip install pandas

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.7/dist-packages (2.2.9)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [10]:
import os
import mysql.connector
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
import warnings
warnings.filterwarnings('ignore')

---
<a name = Section3></a>
## **3. Data Acquisition & Description**

<a id = Section31></a>
### 3.1 Importing   "department_data"

In [ ]:
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone2"
)

mycursor = mydb.cursor()

In [12]:
mycursor.execute("select * from department_data")
myresult = mycursor.fetchall()
df_department_data = pd.DataFrame(myresult)

field_names = [i[0] for i in mycursor.description]
df_department_data.columns = field_names

df_department_data.head()

   dept_id    dept_name              dept_head
0   D00-IT           IT             Henry Adey
1   D00-SS        Sales        Edward J Bayley
2   D00-TP         Temp        Micheal Zachrey
3  D00-ENG  Engineering  Sushant Raghunathan K
4   D00-SP      Support         Amelia Westray

<a id = Section32></a>
### 3.2 Importing   "employee_details_data"

In [13]:
mycursor.execute("select * from employee_details_data")
myresult = mycursor.fetchall()
df_employee_details_data = pd.DataFrame(myresult)

field_names = [i[0] for i in mycursor.description]
df_employee_details_data.columns = field_names

df_employee_details_data.head()

   employee_id  age  gender marital_status
0       113558   43    Male        Married
1       112256   24  Female      Unmarried
2       112586   22  Female      Unmarried
3       108071   36    Male        Married
4       116915   38    Male        Married

<a id = Section33></a>
### 3.3 Importing   "employee_data"

In [14]:
mycursor.execute("select * from employee_data")
myresult = mycursor.fetchall()
df_employee_data = pd.DataFrame(myresult)

field_names = [i[0] for i in mycursor.description]
df_employee_data.columns = field_names

df_employee_data.head()

  avg_monthly_hrs department filed_complaint  ...  status  tenure  employee_id
0          246.00       None            None  ...    Left    4.00       124467
1          134.00       None            None  ...    Left    3.00       112210
2          156.00     D00-SS            1.00  ...    Left    3.00       126150
3          256.00     D00-SP            None  ...    Left    4.00       125346
4          146.00     D00-SS            None  ...    Left    3.00       113707

[5 rows x 11 columns]

<a id = Section34></a>
### 3.4 Data Description

The Business Intelligence Analysts of the Company provided you three datasets that contain information about past employees and their status (still employed or already left).

1. **department_data**
    
    This dataset contains information about each department. The schema of the dataset is as follows:

    - dept_id – Unique Department Code
    - dept_name – Name of the Department
    - dept_head – Name of the Head of the Department
    

2. **employee_details_data**

    This dataset consists of Employee ID, their Age, Gender and Marital Status. The schema of this dataset is as follows:

    - employee_id – Unique ID Number for each employee
    - age – Age of the employee
    - gender – Gender of the employee
    - marital_status – Marital Status of the employee


3. **employee_data**

    This dataset consists of each employee’s Administrative Information, Workload Information, Mutual Evaluation Information and Status.
    

**Target variable**

- **status** – Current employment status (Employed / Left)
    
    
**Administrative information**

- **department** – Department to which the employees belong(ed) to
- **salary** – Salary level with respect to rest of their department
- **tenure** – Number of years at the company
- **recently_promoted** – Was the employee promoted in the last 3 years?
- **employee_id** – Unique ID Number for each employee
    
    
**Workload information**

- **n_projects** – Number of projects employee has worked on
- **avg_monthly_hrs** – Average number of hours worked per month
    
    
**Mutual evaluation information**

- **satisfaction** – Score for employee’s satisfaction with the company (higher is better)
- **last_evaluation** – Score for most recent evaluation of employee (higher is better)
- **filed_complaint** – Has the employee filed a formal complaint in the last 3 years?

<a id = Section4></a>
### 4. Understanding Project Datasets

<a id = Section41></a>
### 4.1 Understand Dataset: department_data

In [15]:
df_department_data.head()

   dept_id    dept_name              dept_head
0   D00-IT           IT             Henry Adey
1   D00-SS        Sales        Edward J Bayley
2   D00-TP         Temp        Micheal Zachrey
3  D00-ENG  Engineering  Sushant Raghunathan K
4   D00-SP      Support         Amelia Westray

In [16]:
df_department_data.info(verbose=True, show_counts=True)

NameError: ignored

In [ ]:
df_department_data.isnull().sum().sum()

In [ ]:
df_department_data.isnull().sum().sort_values(ascending=False)

#### 'department_data' consists of 3 Columns and 11 Rows with no missing data

In [ ]:
df_department_data.describe()

In [ ]:
df_department_data['dept_id'].value_counts()

In [ ]:
df_department_data['dept_name'].value_counts()

In [ ]:
df_department_data['dept_head'].value_counts()

#### In the 'department_data', there are 11 UNIQUE 'Department ID' having all different UNIQUE 'Department Name' headed by 11 different 'Department Heads'

<a id = Section42></a>
### 4.2 Understand Dataset: employee_details_data

In [ ]:
df_employee_details_data.head()

In [ ]:
df_employee_details_data.info(verbose=True, show_counts=True)

In [ ]:
df_employee_details_data.isnull().sum().sum()

In [ ]:
df_employee_details_data.isnull().sum().sort_values(ascending=False)

#### 'employee_details_data' consists of 4 Columns and 14,245 Rows with no missing data

In [ ]:
df_employee_details_data.describe()

In [ ]:
df_employee_details_data.describe(include='all')

In [ ]:
df_employee_details_data['gender'].value_counts()

In [ ]:
df_employee_details_data['gender'].value_counts(1)*100

In [ ]:
df_employee_details_data['gender'].value_counts().plot(kind='pie', autopct='%.2f%%')

#### From gender column, we have seen that 9,382 employees are males which accounts for 65.86% of the sample while 4,863 employees are females which accounts for 34.14% of the sample.

---

In [ ]:
df_employee_details_data['marital_status'].value_counts()

In [ ]:
df_employee_details_data['marital_status'].value_counts(1)*100

In [ ]:
df_employee_details_data['marital_status'].value_counts().plot(kind='pie', autopct='%.2f%%')

#### From marital status column, we have seen that 7,283 employees are Unmarried which accounts for 51.13% of the sample while 6,962 employees are Married which accounts for 48.87% of the sample.

---

In [ ]:
df_employee_details_data['age'].value_counts().plot(kind='bar', figsize=(16,5))

In [ ]:
df_employee_details_data['age'].plot(kind='kde', figsize=(16,8))

#### Age of the employee ranges from 22 Years to 57 Years and most of the employee are from age group 22-29 years. From describe function also we have seen that 50% of the employees are from 22 Years to 29 Years.

<a id = Section43></a>
### 4.3 Understand Dataset: employee_data

In [ ]:
df_employee_data.head()

In [ ]:
df_employee_data.info(verbose=True, show_counts=True)

In [ ]:
df_employee_data.isnull().sum().sort_values(ascending=False)

- **employee_detail_data (14,245) has 95 more entry comapred to employee_data (14,150)**
- **department has 707 missing data, which is a major concern as 'department' is primary column for merging data**
- **Department column heading is different**
- **How to fill missing data??**

In [ ]:
df_employee_data['department'].value_counts()

- **department column has 707 missing data as well as it has 12 unique value. But it has one '-IT' entry (having 207 entry) apart from 'D00-IT', which I feel it would be part of 'D00-IT'.**

In [ ]:
df_employee_data.replace(to_replace='-IT', value='D00-IT', inplace=True)

In [ ]:
df_employee_data['department'].value_counts()

- **In 'department_data', Column Name of Department ID is 'dept_id' whereas same Column Name of Department ID in 'employee_data' is department. So, in order to merge data from both dataset, we need same column name. Thus, we are changing column name in employee_data to dept_id from department.**

In [ ]:
df_employee_data = df_employee_data.rename({'department':'dept_id'}, axis=1)
df_employee_data.head()

<a id = Section5></a>
### 5. Merging of Datasets

- **Merging of department_data and employee_data**

In [ ]:
df_merged1 = pd.merge(left=df_department_data, right=df_employee_data, on='dept_id', how='outer')
df_merged1.head()

In [ ]:
df_merged1.info()

- **Now merging 'employee_details_data' with the first merged dataset**

In [ ]:
df_final = pd.merge(left=df_employee_details_data, right=df_merged1, on='employee_id', how='right')
df_final.head()

In [ ]:
df_final.info()

<a id = Section6></a>
### 6. Feature Engineering: Treating missing data

In [ ]:
df_final.isnull().sum().sort_values(ascending=False)

In [ ]:
missing_data = pd.DataFrame(df_final.isnull().sum(), columns=['Total Missing Values'])
missing_data['% of Missing Values'] = df_final.isnull().sum() / len(df_final) * 100
missing_data = missing_data.sort_values(by = '% of Missing Values', ascending=False)
missing_data

- **recently_promoted** has 13,853 missing data (14,150-13853) ie., 297 got promotion recently and remaining weren't got promotion. So, I am replacing NULL value with '0'.


- **filed_complaint** has 12,104 missing value which means 12,104 employee has not filed any complaint. So, I am replacing NULL value with '0'.


- **last_evaluation** is 'Score for most recent evaluation of employee (higher is better)' has 1,487 missing value, which means either data is missing or 1,487 employee has not got any evaluation. Here, I am assuming that it has never evaluated and hence I am replacing NULL value with '0'. **Second Thought:** replacing with Median / Mean.


- **satisfaction** is 'Score for employee’s satisfaction with the company (higher is better)' has 150 missing value, which means either data is missing or 150 employee has not given its satisfaction score. Here, again I am assuming that it has not gave its satisfaction score and hence I am replacing NULL value with '0'. **Second Thought:** replacing with Median / Mean.


- **dept_id** has 707 missing value, I am replacing it with Mode.


- **dept_name** has 707 missing value, I am replacing it with Mode.


- **dept_head** has 707 missing value, I am replacing it with Mode.


- **tenure** has 150 missing value, I am replacing it with Median.


- **age** has 5 missing value, I am replacing it with Median.


- **gender** has 5 missing value, I am replacing it with Mode.


- **marital_status** has 5 missing value, I am replacing it with Mode.

### Replacing Missing Values:

- Replacing **null value** of **'recently_promoted'** and **'filed_complaint'** with **'0.0'**.

In [ ]:
df_final['recently_promoted'].fillna('0.0', inplace=True)

In [ ]:
df_final['filed_complaint'].fillna('0.00', inplace=True)

- Replacing **last_evaluation, satisfaction, dept_id, dept_name, dept_head, tenure, age, gender and marital_status** with **Mean / Median / Mode**

In [ ]:
df_final['last_evaluation'].fillna(df_final['last_evaluation'].mean(), inplace=True)
df_final['satisfaction'].fillna(df_final['satisfaction'].mean(), inplace=True)
df_final['dept_id'].fillna(df_final['dept_id'].mode()[0], inplace=True)
df_final['dept_name'].fillna(df_final['dept_name'].mode()[0], inplace=True)
df_final['dept_head'].fillna(df_final['dept_head'].mode()[0], inplace=True)
df_final['tenure'].fillna(df_final['tenure'].median(), inplace=True)
df_final['age'].fillna(df_final['age'].median(), inplace=True)
df_final['gender'].fillna(df_final['gender'].mode()[0], inplace=True)
df_final['marital_status'].fillna(df_final['marital_status'].mode()[0], inplace=True)

In [ ]:
df_final.info()

<a id = Section7></a>
### 7. Data Analysis / Visualization of various Feature Columns