<a href="https://colab.research.google.com/github/gurralamanoj/GCD_Project/blob/main/GCD_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
 !pip install mysql
 !pip install mysql-connector

Requirement already satisfied: mysql in /usr/local/lib/python3.7/dist-packages (0.0.3)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.7/dist-packages (from mysql) (2.0.3)
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 5.2 MB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=18ce6aa9e552fa58adeb038bd6dc599b7979f1456d034d56b64d19a4cf5fe008
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [16]:
import numpy as np
import pandas as pd
import os
import mysql.connector
import warnings

In [6]:
pd.options.display.float_format = '{:.5f}'.format
warnings.filterwarnings('ignore')

In [18]:
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone2"
)

mycursor = mydb.cursor()

In [19]:
mycursor.execute("select * from department_data")
myresult = mycursor.fetchall()
df_department_data = pd.DataFrame(myresult)

field_names = [i[0] for i in mycursor.description]
df_department_data.columns = field_names

df_department_data.head()

   dept_id    dept_name              dept_head
0   D00-IT           IT             Henry Adey
1   D00-SS        Sales        Edward J Bayley
2   D00-TP         Temp        Micheal Zachrey
3  D00-ENG  Engineering  Sushant Raghunathan K
4   D00-SP      Support         Amelia Westray